.App-link {
  color: #61dafb;
}
.right-scene .photos {
  column-count: 2;
  column-gap: 5px;
  padding: 5px;

}
.right-scene .photo {
  width: 100%;
  margin: 5px;
  cursor: pointer;
}
.navbar{
display: flex;
background-color: rgb(250,250,250);
position: fixed;
left: 0;
top: 0;
z-index: 6;
margin: 0;
font-family: 'Cormorant SC', serif;
text-align: center;
padding-left: 25%;
height: 48px;
width: 100%;
}
.blockfirst, .blocksecond {
  display: flex;
  background-color: rgb(250,250,250);
  font-family: 'Cormorant SC', serif;
  text-align: center;
  }

.navelement:hover {
  text-shadow: 0px 0px 1px #000000;
  cursor: pointer;
  }

.navelement{
  margin-left: 5vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

body {
  font-family: Helvetica;
  background-color: rgba(210,210,210,0.5);
}

#root > div {
  height: 100vh;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;

}

.left-scene .selected-gif {
  text-align: center;
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 232px);
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.22'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.right-scene .backbox {
  width: 636px;
  height: 344px;
  position: absolute;
  /* top: 90%;
  right: 10%; */
  font-family: FontAwesome;
  font-size: 2.6em;
  background-color: #282c34;
  border-radius: 8px;
  margin-top: 8%;
  margin-left: 47%;
}

.right-scene .bio {
  width: 608px;
  height: 324px;
  right: 14%;
  font-family: 'Cormorant SC', serif;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 16px;
  text-align: center;
  margin-top: 4%;
  margin-left: 12%;
  margin-bottom: 5%;
  z-index: 5;
}

.left-scene .backbox {
  width: 636px;
  height: 421px;
  position: absolute;
  top: 20%;
  left: 7%;
  font-family: FontAwesome;
  font-size: 2.6em;
  background-color: #282c34;
  border-radius: 8px;
}
.left-scene .photo {
  max-width: 636px;
  max-height: 422px;
  font-family: FontAwesome;
  font-size: 2.6em;
  border-radius: 8px;
  box-shadow: 0 0 36px rgba(black, black, black, 1);
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  z-index: 5;
}

.left-scene .maine-title {
  font-family: 'Cormorant SC', serif;
  margin-top: 10%;
  margin-left: 5%;

}
.left-scene .maine-title h1 {
  font-size: 66px;
  margin: 0;
}

.left-scene .maine-title p {
  font-size: 20px;
}

.aboutbtn {
  font-family: 'Cormorant SC', serif;
  top: 90%;
  left: 10%;
  font-size: 36px;
  margin-left: 10%;
}

.middle-scene {
  display: flex;
  top: 135vh;
  left: 10%;

}
.photos-list {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  width: 90%;
  font-size: 36px;
  margin-left: 8vh;
}
.photos {
  width: 280px;
  height: 280px;
  margin: 8px;
}
.footer {
  background-color: rgb(250,250,250);
  padding-top: 16px;
  bottom: 100%;
  font-family: 'Cormorant SC', serif;
  text-align: center;
  padding-bottom: 16px;
}
.footer a {
  margin: 16px;
  text-decoration: none;
  color: #000000;
}
.footer a:hover {
  text-shadow: 0px 0px 1px #000000;
  cursor: pointer;
  }
.about {
  display: flex;
  position: relative;
  background-color: rgb(245, 245, 245);

}
.my-self {
  display: flex;
}
.navbar a {
  text-decoration: none;
  color: #000000;
}
.navbar img {
  margin-left: 44px;
}
